<div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-2"
  *ngFor="let sensor of sensors; let s_index = index">
  <div class="card" [ngClass]="{'bg-info': sensor.status === true, 'bg-danger': sensor.status === false}">
  <div class="card card-header">
  <h5>{{sensor.id}}</h5>
  </div>
  <div class="card card-body">
  <p>{{sensor.name}}</p>
  <button class="btn btn-warning" (click)="onDeleteSensor(s_index)">Удалить</button>
  </div>
  </div>
  </div>
  <hr>
  </div>
  
  <h3>Добавление нового датчика</h3>
  <div class="form-group">
  <h6>Имя датчика</h6>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Имя датчика" #new_name>
  </div>
  <div class="form-group">
  <div class="form-check">
  <label class="form-check-label"><input type="checkbox" class="form-check-input" #new_status>Статус</label>
  </div>
  </div>
  <button class="btn btn-success mb-5" (click)="onCreateSensor(new_name, new_status)">Создать</button>
  </div>  